@use 'uswds-core' with (
	$theme-image-path: '@nciocpl/ncids-css/uswds-img',
	$theme-show-notifications: false,
	$theme-show-compile-warnings: false
);

@forward 'uswds-global';
@forward 'usa-pagination';
@forward 'usa-icon';
@forward 'usa-collection';
@forward 'usa-select';
@forward 'usa-combo-box';
